 <!DOCTYPE html>
	 <html>
	 <head>
	 	<title></title>
	 	<link rel="stylesheet" href="css/normalize.css">
	 </head>

	 <body>
	 	<header>
		 	<div class="row">
		 		<div class="large-6 columns">
		 			<h1>MegaCity</h1>
		 		</div>
		 		<div class="large-6 columns nombre_usuario">
					<h3>Bienvenido <%=@usuario.nombre%></h3>
					<div class="row align-right">
				    	<nav>
				        <ul>
				        	<div class="large-4 columns"><li><a href="facturas">Inicio</a></li></div>
				        	<div class="large-2 columns"><li><a href="facturas">Cuenta</a></li></div>
				        	<div class="large-2 columns"><li><a href="facturas">Almacenes</a></li></div>
				        	<div class="large-2 columns"><li><a href="facturas">Eventos</a></li></div>
				          	<div class="large-2 columns"><li><a href="facturas">Contactenos</a></li></div>
				        </ul>
				      </nav>
			      </div>
				</div>
			</div>	      
		</header>	  
	 </body>
 </html>
