<p id="notice"><%= notice %></p>

		<div class="row somos">
            <div class="small-12 columns"> 
                <h4>¿Quienes somos?</h4>
            </div>
           
            <div class="small-12 columns">
                <p>La mision del centro comercial es Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante dui, venenatis nec cursus et, commodo nec quam. Vestibulum vulputate at tortor eu vulputate. Phasellus et dapibus libero.</p>
            </div>
        </div>
        <div class="row objetivos">
        	<div class="small-5 columns">
        		<h4>Mision</h4>
        		<div class="row mision">
        			<div class="small-12"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante dui, venenatis nec cursus et, commodo nec quam. Vestibulum vulputate at tortor eu vulputate. Phasellus et dapibus libero</p></div>
        		</div>
        	</div>
        	<div class="small-5 columns">
        		<h4>Vision</h4>
        		<div class="row">
        			<div class="small-12 vision"> 
        				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante dui, venenatis nec cursus et, commodo nec quam. Vestibulum vulputate at tortor eu vulputate. Phasellus et dapibus libero</p>
        			</div>
        		</div>
        	</div>
        </div>
		
        <div class="row">
            <div class="small-12 columns">
        		<div class="flexslider">
        		  <ul class="slides">
        		    <li>
        		      <%= image_tag  "front.jpg",:class=>"img1"%>
        		    <li>
        		      <%= image_tag  "front1.jpg",:class=>"img1"%>
        		    </li>
        		    <li>
        		     <%= image_tag  "front2.jpg",:class=>"img1"%>
        		    </li>
        		  </ul>
        		</div>
            </div>
        </div>


    

