.btn {
	position:absolute;
	right: 0px;
	top: 70px;
}
 

.pass {
	height:5px;
	width: 227px; 
	position: absolute;
	right: 130px;
	top: 60px;
}

.contra {
	position: absolute;
	right:130px;
	top: 30px;
}

.text_mail {
	height: 5px;
	width: 227px;
	position: absolute;
	right: 350px;
	top: 60px;
}

.correo{
	position: absolute;
	right: 350px;
}

.items ul li {

	font-family: 'Playfair Display', serif;
	font-size: large;
	text-align: center;
	margin-top: 15px;
	list-style: none;
	
}

.somos {
	text-align: center;
	margin-top: 50px;
}

.objetivos {
	text-align: center;
	margin-bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Playfair Display', serif;
	text-decoration-style: bold;
}



.flex-direction-nav a.flex-prev::before { 

	display: flex;
	justify-content: center;
	align-items:center;
	position: absolute;
	top: 30%;

}

.flex-direction-nav a.flex-next::before { 

	display: flex;
	justify-content: center;
	align-items:center;
	position: absolute;
	top: 30%;
	right: 0;

}


.categorias1, .categorias2, .categorias3, .eventos, .horario_atencion, .contacto {
	margin-top: 50px;
	text-align: center;
}

.categorias2, .categorias3 {
	margin-top: 20px;
}

.horarios  {
	text-align: center;
	margin-top: 15px;
}

.contacto {
	margin-top: 50px;
}

.btn_contacto {
	background-color: white; 
}

body {
	background-color: #C2D7FE;
}

.img1 {
	height: 300px;
	width: 300px;
	border: 2px solid grey;
	margin: 0;
	padding: 0;
	border-radius: 800px;
	overflow: hidden;

}