.btn {
	position:absolute;
	right: 0px;
	top: 70px;
}
 

.pass {
	height:5px;
	width: 227px; 
	position: absolute;
	right: 130px;
	top: 60px;
}

.contra {
	position: absolute;
	right:130px;
	top: 30px;
}

.text_mail {
	height: 5px;
	width: 227px;
	position: absolute;
	right: 350px;
	top: 60px;
}

.correo{
	position: absolute;
	right: 350px;
}